#background{
    -fx-background-image: url(images/background.jpg);
    -fx-background-position: center center;
    -fx-background-size: cover;
}

.label{
    -fx-background-color: #00BC55;
    -fx-background-radius: 20px;
    -fx-border-color: black;
    -fx-border-radius: 20px;
    -fx-border-width: 2px;
}

.button{
    -fx-background-color: #99F3BF;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-pref-width: 300px;
    -fx-font-weight: bold;
}

.button:hover{
    -fx-cursor: hand;
}

.scroll-pane.scroll-bar:vertical{
    -fx-background-color: #00BC55;
}

.scroll-pane .viewport{
    -fx-background-color: #00BC55;
    -fx-border-color: black;
    -fx-border-width: 1px;
}


.scroll-bar.scroll-bar:horizontal{
    -fx-opacity: 0; /* Makes the horizontal scroll bar invisible */
    -fx-max-height: 0; /* Prevents it from taking space */
}


#tutorialBox{
    -fx-background-color: #00BC55;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;

}

#next{
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-pref-width: 75px;
    -fx-pref-height: 75px;
}

#back{
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-pref-width: 75px;
    -fx-pref-height: 75px;
}

#progressLabel{
    -fx-background-color: #00BC55;
    -fx-background-radius: 10px;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-pref-width: 100px;
    -fx-max-width: 100px;
    -fx-alignment: center;
}

#experienceLabel{
    -fx-background-color: #00BC55;
    -fx-background-radius: 10px;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-pref-width: 150px;
    -fx-alignment: center;
}

#shopButton{
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-pref-width: 140px;
    -fx-pref-height: 140px;
}

#minigameButton{
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-pref-width: 140px;
    -fx-pref-height: 140px;
}
#backG {
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-pref-width: 140px;
    -fx-pref-height: 140px;
}

#option1{
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-pref-width: 140px;
    -fx-pref-height: 140px;
}

#option2{
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-pref-width: 140px;
    -fx-pref-height: 140px;
}

#option3{
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-pref-width: 140px;
    -fx-pref-height: 140px;
}


#parentalSubmit{
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-pref-width: 105px;
    -fx-pref-height: 105px;
}

#useBlackHat{
    -fx-background-color: #99F3BF;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-pref-width: 200px;
    -fx-font-weight: bold;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;

}


#useBlackGlasses{
    -fx-background-color: #99F3BF;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-pref-width: 200px;
    -fx-font-weight: bold;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;

}

#useBlackBowtie{
    -fx-background-color: #99F3BF;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-pref-width: 200px;
    -fx-font-weight: bold;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;

}
#useSilverHat{
    -fx-background-color: #99F3BF;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-pref-width: 200px;
    -fx-font-weight: bold;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;

}
#useSilverGlasses{
    -fx-background-color: #99F3BF;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-pref-width: 200px;
    -fx-font-weight: bold;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;

}
#useSilverBowtie{
    -fx-background-color: #99F3BF;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-pref-width: 200px;
    -fx-font-weight: bold;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;

}
#useGoldHat{
    -fx-background-color: #99F3BF;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-pref-width: 200px;
    -fx-font-weight: bold;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;

}
#useGoldGlasses{
    -fx-background-color: #99F3BF;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-pref-width: 200px;
    -fx-font-weight: bold;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;

}
#useGoldBowtie{
    -fx-background-color: #99F3BF;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-pref-width: 200px;
    -fx-font-weight: bold;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;

}
#buyItemButton1{
    -fx-background-color: #99F3BF;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-pref-width: 200px;
    -fx-font-weight: bold;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;

}

#buyItemButton2{
    -fx-background-color: #99F3BF;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-pref-width: 200px;
    -fx-font-weight: bold;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;

}

#buyItemButton3{
    -fx-background-color: #99F3BF;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-pref-width: 200px;
    -fx-font-weight: bold;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;

}
#buyItemButton4{
    -fx-background-color: #99F3BF;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-pref-width: 200px;
    -fx-font-weight: bold;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;

}
#buyItemButton5{
    -fx-background-color: #99F3BF;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-pref-width: 200px;
    -fx-font-weight: bold;
    -fx-pref-height: 40px;

}
#buyItemButton6{
    -fx-background-color: #99F3BF;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-pref-width: 200px;
    -fx-font-weight: bold;
    -fx-pref-height: 40px;

}
#buyItemButton7{
    -fx-background-color: #99F3BF;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-pref-width: 200px;
    -fx-font-weight: bold;
    -fx-pref-height: 40px;

}
#buyItemButton8{
    -fx-background-color: #99F3BF;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-pref-width: 200px;
    -fx-font-weight: bold;
    -fx-pref-height: 40px;

}
#buyItemButton9{
    -fx-background-color: #99F3BF;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-pref-width: 200px;
    -fx-font-weight: bold;
    -fx-pref-height: 40px;

}

#useApple{
    -fx-background-color: #99F3BF;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-pref-width: 200px;
    -fx-font-weight: bold;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;

}
#useBanana{
    -fx-background-color: #99F3BF;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-pref-width: 200px;
    -fx-font-weight: bold;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;

}
#usePeach{
    -fx-background-color: #99F3BF;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-pref-width: 200px;
    -fx-font-weight: bold;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;

}

#minigameBackground{
    -fx-background-color: #00BC55;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;

}

#minihameHeader{
    -fx-background-color: #99F3BF;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;

}

#mathButton{
    -fx-background-color: #99F3BF;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-pref-width: 200px;
    -fx-pref-height: 55px;
    -fx-font-weight: bold;
}

#englishButton{
    -fx-background-color: #99F3BF;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-pref-width: 200px;
    -fx-pref-height: 55px;
    -fx-font-weight: bold;
}

#geographyButton{
    -fx-background-color: #99F3BF;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-pref-width: 200px;
    -fx-pref-height: 55px;
    -fx-font-weight: bold;
}

#inventoryButton{
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-pref-width: 140px;
    -fx-pref-height: 140px;
}

#levelLabel{
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-pref-width: 60px;
    -fx-pref-height: 60px;
}

#coinsLabel{
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-pref-width: 60px;
    -fx-pref-height: 60px;
}

.progress-bar{
    -fx-accent: #00BC55;
    -fx-border-color: black;
    -fx-border-width: 2px;
}

#vetButton{
    -fx-pref-height: 40px;
}

#exerciseButton{
    -fx-pref-height: 40px;
}

#feedbutton{
    -fx-pref-height: 40px;
    -fx-min-height: 40px;
}
#sleepbutton{
    -fx-pref-height: 40px;
}
#playButton{
    -fx-pref-height: 40px;
}